fastapi
uvicorn
python-dotenv
python-multipart
supabase
google-generativeai
numpy
pandas
scikit-learn
sqlalchemy
psycopg2-binary
python-jose
passlib
bcrypt
requests
httpx
pydantic
mangum
sentence-transformers